<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <div class="products-container">
        {{#each products}}
            <div class="product">
                <h3>{{this.title}}</h3>
                <p>${{this.price}}</p>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>